.input-group.top-search {
    margin: 0 auto;
    max-width: 450px;
}

select#imageType {
    flex: 0;
    min-width: 100px;
}

.home-top-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-top-bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}


@supports (position: sticky) {
    .is-sticky {
        position: sticky;
        top: 0;
    }
}

div#collapseExample {
    width: 100%;
}

div#collapseExample .card.card-body {
    margin-top: 0px;
    background: #00000080;
    border-radius: 0 0 20px 20px;
    padding: 15px 0 20px 0px;
    font-size: 13px;
}

.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.container-fluid.search-container {
    background: #21252908;
    height: 500px;
    padding: 20px;
    position: relative;
    width: 100%;
    color: #fff;
}

.container.title {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-image {
    border-radius: 0 0 20px 20px;
    border: 1px solid white;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
}

.modal-body {
    padding: 0;
}

.img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px 20px;
    transition: .3s ease;
    opacity: 0;
}

#myModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-link:hover .overlay, #myModalBody:hover .img-overlay {
opacity: 1;
}

.rounded-pill.views {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00000059 !important;
}

.rounded-pill.likes {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00000059 !important;
}

.fa-eye {
    color: white;
    font-size: 13px !important;
    position: relative;
    padding: 0;
    margin: 0;
}

.fa-heart {
    color: #d14444;
    font-size: 13px !important;
    position: relative;
    padding: 0;
    margin: 0;
}

.fa-plus {
    color: white;
    font-size: 50px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa:hover {
color: #eee;
}

.bd-filters {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
}

.bd-filters {
    overflow: auto;
    font-weight: 600;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto
}


.bd-filters>ul {
    padding: 1.5rem .75rem;
    border-bottom: 1px solid #e9ecef
}

.bd-filters a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none
}


.bd-filters .btn {
    padding: 10px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0
}


.container-md {
	min-height: 80vh;
	padding-top: 30px;
}


.bd-filters .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

@media (prefers-reduced-motion: reduce) {
    .bd-filters .btn::before {
        transition: none
    }
}

.bd-filters .btn[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85)
}

.bd-filters .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.bd-filters .active {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85)
}

.grid-colors {
    margin-top: 8px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(6,22px);
    column-gap: 5px;
    row-gap: 5px;
}

input[type=checkbox]:checked, label.color-select.checked {
    border: 2px solid #ff8a8a;
}


label.color-select input {
    position: absolute;
    left: -40px;
}

label.color-select {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

label.color-select.reset {
    background: white;
    color: red;
    padding: 0px 0px 0px 7px;
}
label.color-select.red {
    background: #ff0000;
}
label.color-select.orange {
    background: #fdb91a;
}
label.color-select.yellow {
    background: #fe0;
}
label.color-select.green {
    background: #00e100;
}
label.color-select.turquoise {
    background: #00d7e8;
}
label.color-select.blue {
    background: #00f;
}
label.color-select.lilac {
    background: #c93ef7;
}
label.color-select.pink {
    background: #f8c1ff;
}
label.color-select.white {
    background: #fff;
}
label.color-select.grey {
    background: #bbb;
}
label.color-select.black {
    background: #000;
}
label.color-select.brown {
    background: #ae5700;
}

.color_filter input:checked+label {
    border: 1px solid rgb(0, 0, 0);
}


div#myModalContent img {
    width: 25px;
    border-radius: 100px;
}

div#myModalContent h5 {
    margin-bottom: 0;
    margin-left: 7px;
    font-size: 14px;
}

div#myModalTags {
    position: absolute;
    color: white;
    margin-top: 80px;
    min-width: 226px;
    font-size: 12px;
    border: 1px solid #ffffff29;
    padding: 5px 11px;
    display: flex;
    justify-content: space-between;
    background: #0000002b;
    border-radius: 50px;
}

#myModalTags .tags:nth-child(1) {
    padding-right: 20px;
}

div#myModalTags p {
    line-height: 0;
    padding: 0;
    margin: 0;
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 9px;
}

div#color {
    padding-left: 30px;
}
#popular-list li img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
#popular-list li p {
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;

}
#popular-list li span {
    font-size: 12px;
}

#popular-list li.list-group-item.d-flex {
    margin: 0;
    padding: 10px 31px 10px 20px;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 2px 0 0 #dddddd;
    margin-bottom: 2px;
    align-items: center;
}

#popular-list i.fa.fa-eye {
    color: #449dd1;
}

#clean-filter {
    opacity: 0
}

div#api-data {
    align-items: center;
    justify-content: center;
}

.footer {
	align-items: center;
	background: #212529;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: center;
	padding: 14px 0 7px;
}

.footer p {
	margin-bottom: 4px;
}

.footer a {
	color: #7c7c7c;
	text-decoration: none;
}

.mySpinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.mySpinner div {
    position: absolute;
    border: 4px solid rgb(25, 25, 25);
    opacity: 1;
    border-radius: 50%;
    animation: mySpinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.mySpinner div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes mySpinner {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}